.show-content
  .show-content__header
  .show-content__main
    .show-content__main-top
      %img.top-image{src: "#{@room.image.url}"}/
      %button.share シェアする
      %button.keep 保存する
      %button.display 写真を表示する

    .show-content__main-body
      .show-content__main-body__left-content
        .show-content__main-body__left-content-top
          .show-content__main-body__left-content-top__title
          = @room.filter.category
          %img.icon-image{src: "https://a0.muscache.com/im/pictures/73411d20-f2e0-4b59-b5c2-e77857e7eeae.jpg?aki_policy=profile_x_medium"}
          .show-content__main-body__left-content-top__main
          = @room.title
          .show-content__main-body__left-content-top__area
          = @room.city
          .show-content__main-body__left-content-top__condition
            ゲスト
            = @room.filter.capacity
            人
            寝室
            = @room.filter.bedroom_counter
            ベッド２台
            バスルーム
            = @room.filter.bathroom_counter
        .show-content__main-body__left-content-point
          .show-content__main-body__left-content-point__title
            リスティングの注目ポイント
          .show-content__main-body__left-content-point__body
            セルフチェックイン · キーボックスの鍵で簡単に入室できます。
          .show-content__main-body__left-content-point__action
            役に立った  · 役に立たなかった
        .show-content__main-body__left-content-deteil
          = @room.subject
        .show-content__main-body__left-content-amenities
          %h3.title アメニティ・設備
          .show-content__main-body__left-content-amenities-items
            -if @room.amenity.wifi == 1
              %p wifi
            -if @room.amenity.shampoo == 1
              %p シャンプー
            -if @room.amenity.closet == 1
              %p クローゼット
            -if @room.amenity.television == 1
              %p テレビ
            -if @room.amenity.heater == 1
              %p ヒーター
            -if @room.amenity.aircon == 1
              %p エアコン
            -if @room.amenity.breakfast == 1
              %p 朝食
            -if @room.amenity.pet == 1
              %p ペット
            -if @room.amenity.iron == 1
              %p アイロン
        .show-content__main-body__left-content-bed
          ベッドのタイプ
          .show-content__main-body__left-content-bed-left
            .icon 画像
            <b>寝室１</b>
            ダブルベッド２
          .show-content__main-body__left-content-bed-right
            .icon 画像
            <b>共用スペース</b>
            ソファーベッド１
        .show-content__main-body__left-content-reservation
          .show-content__main-body__left-content-reservation-title
            予約可能状況
          .show-content__main-body__left-content-reservation-update
            2日前に更新
          .show-content__main-body__left-content-reservation-calendar
            %img.calendar-image{src: "/assets/calendar.png", alt: "カレンダー"}
        .show-content__main-body__left-content-review
          .show-content__main-body__left-content-review-title
            レビューは（まだ）０件です
          .show-content__main-body__left-content-review-body
            ほかのお家で受けたレビューが44件あります
          %button.review-button ほかのレビューを見る
        .show-content__main-body__left-content-host
          .show-content__main-body__left-content-host-title
            ホストはKazさん
          .show-content__main-body__left-content-host-sub
            2017年6月からメンバー
          .show-content__main-body__left-content-host-num
            ★ レビュー44件 認証済み
          .show-content__main-body__left-content-host-reply-rate
            返答率：<b>100%</b>
          .show-content__main-body__left-content-host-reply-time
            返答時間：<b>１時間以内</b>
          %button.host-communication ホストに連絡
        .show-content__main-body__left-content-caution
          <b>連絡は常にAirbnbを通して行いましょう</b>・お支払いをお守りするためにも、Airbnbのサイトやアプリ以外の場所では決して送金や連絡を行わないようご注意ください。
        .show-content__main-body__left-content-area
          エリア
          .show-content__main-body__left-content-area-title
            <b>特徴</b>・摩天楼・新宿御苑・繁華街・ゲイバー・巨大デパート・都会
          .show-content__main-body__left-content-area-sub
            Kazさん宅の所在地は
            = @room.city
            です。
          .show-content__main-body__left-content-area-body
            近くには皇居がありますので､皇居散策や､ｼﾞｮｷﾞﾝｸﾞなんかも最高の環境です｡
            四谷は東京の真ん中に位置していて､新宿方面へのｱｸｾｽも抜群!人気の中野や高円寺にも1本でいけますし､浅草方面の秋葉原､東京､相撲の両国へ1本です!!
            家の周りは風情溢れる老舗のお店や心癒される坂道など､素敵な散歩ｺｰｽがたくさん!ゆったり時間が過ごせるはずです!
            .show-content__main-body__left-content-area-body-action
              このエリア情報の続きを読む
          .show-content__main-body__left-content-area-map
            #map{:style => "width: 650px; height: 300px;"}
              :javascript
                handler = Gmaps.build('Google');
                handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                  markers = handler.addMarkers([
                    {
                      "lat": #{@room.latitude},
                      "lng": #{@room.longitude},
                      "infowindow": "ここだよーん"
                    }

                  ]);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  handler.getMap().setZoom(16);
                });

            %p 詳しい所在地はご予約時にお知らせします。
        .show-content__main-body__left-content-rule
          ポリシー
          .show-content__main-body__left-content-rule-title
            ハウスルール
          .show-content__main-body__left-content-rule-body
            -if @room.rule.rule_smoking == 1
              %p 禁煙
            -if @room.rule.rule_pet == 1
              %p ペットお断り
            -if @room.rule.rule_party == 1
              %p パーティー&イベントお断り
            -if @room.rule.prior_stair == 1
              %p 階段を登らないとたどり着けません
            -if @room.rule.prior_noize == 1
              %p 騒音の可能性あり
            -if @room.rule.prior_pet == 1
              %p ペットがいます
            -if @room.rule.prior_parking == 1
              %p 敷地内に駐車場なし
            -if @room.rule.prior_sharespace == 1
              %p 共有スペースあり
            -if @room.rule.prior_security == 1
              %p 防犯カメラ/集音マイク設置中
            -if @room.rule.prior_guns == 1
              %p 物件内に銃刀類あり
            チェックインは16:00から
            11:00までにチェックアウト
            セルフチェックイン（キーボックス）
          .show-content__main-body__left-content-rule-action
            全ルールを読む
        .show-content__main-body__left-content-cancel
          .show-content__main-body__left-content-cancel-title
            キャンセル
          .show-content__main-body__left-content-cancel-body
            <b>厳格 - 48時間はキャンセルが無料</b>
            その後はチェックイン7日前までにキャンセルすれば、サービス料を除き50%返金
            されます。
          .show-content__main-body__left-content-cancel-action
            ポリシーをさらに読む
  = form_for [@room,@reservation] ,url: reservation_confirm_room_reservations_path(@room) do |f|
    .show-content__main-body__right-content
      .show-content__main-body__right-content-tool
        .show-content__main-body__right-content-tool-price
          <b>
          = @room.currency
          = @room.price
          ／1泊
          </b>
        .show-content__main-body__right-content-tool-date
          日付
        =f.date_field :check_in
        =f.date_field :check_out
        .show-content__main-body__right-content-tool-number 人数
        =f.number_field :occupancy ,placeholder: "ゲスト２人"
        .show-content__main-body__right-content-tool-caution
          その日程では予約できません
        =f.submit class:"check" ,value:"空室状況をチェック"
    .show-content__main-body__bottom-content
      .show-content__main-body__bottom-content-title
      .show-content__main-body__bottom-content-list
      .show-content__main-body__bottom-content-
  .show-content__footer

    



